/* CSS for Display framework */

BODY { margin: 0px ;
       margin-left: 0.2em ;
     }

.Display {
    display: inline-block ;
    vertical-align: top ;
}

.DisplayVertical > .Display {
    display: block ;
}

.DisplayVertical > .HomeTop {
    display: flex;
}


/*****************************************************************************/
/* PRINT */
/*****************************************************************************/

@media print {

.noprint { display: none ; }

BODY, BODY.themeP, BODY.themeA, BODY.themeD, BODY.themeR, BODY.themeG {
    background-color: white ;
    background: white ;
    background-image: none ;
}

#cellbox_tip * { display: none }
}